$grid_size: 24;

@for $i from 0 through $grid_size {

  .ffwdme-grid-x#{$i}{
    grid-column-start: calc($i + 1);
  }

  .ffwdme-grid-y#{$i}{
    grid-row-start: calc($i + 1);
  }

  .ffwdme-grid-w#{$i}{
    grid-column-end: span $i;
  }

  .ffwdme-grid-h#{$i}{
    grid-row-end: span $i;
  }
}
