.ffwdme-debug-wrapper {
  $progress_bar_height: 15px;
  $font_stack: "HelveticaNeue-Bold", "Helvetica-Bold" ,"Droid Sans";
  $border_dark: #222;
  $progressbar_bg: #b4e391;

  .progressbar-wrapper {
    border: 1px solid $border_dark;

    width: 200px;
    height: $progress_bar_height;
  }

  .progressbar {
    background: $progressbar_bg;

    height: $progress_bar_height;
  }

  fieldset {
    border: 1px dashed lighten($border_dark, 70);
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.25em;
	padding-right: 0.25em;
  }

  fieldset > legend > h3 {
    margin-top: 0;
	margin-bottom: 0;
  }

  fieldset > p {
    margin-top: 0;
	margin-bottom: 0;
  }

  fieldset > div {
    height: 22px;
    display: flex;
    align-items: center
  }

  fieldset > div > label {
	display: block;
	width: 60px;
	float: left;
  }

  fieldset > div > label:after { 
	content: ": " 
  }
  
  fieldset > fieldset {
	border-left-width:0;
	border-right-width:0;
	border-bottom-width:0;
	padding-left:0;
    padding-right:0;
	padding-bottom: 0.1em;
  }

  button {
    border: none;
    border-radius: 2px;
    background: rgba(64,64,64, 0.9);
    color: #fff;
    font-family: $font_stack;
    min-width: 95px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 5px 10px;
  }

  #custom-route-start-at-current,
  #custom-route-dest-at-current,
  #custom-route-find-start-addr,
  #custom-route-find-dest-addr  {
    margin: 5px 5px 5px 5px;
	padding: 1px 1px;
	font-size: 12px;
	min-width: 50px;
  }

  .btn-group {
    position: absolute;
    right: 0;
    top: 30vh;
    z-index: 5;
  
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  #nav-info-trigger,
  #routing-trigger {
    background: rgba(64,64,128, 0.7);
	inline-size: 80px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	min-width: 24px;
	padding: 0;
  }

  #nav-info, #routing {
    font-family: $font_stack;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.7);
    border: 5px solid $border_dark;

    position: absolute;
    top: 48px;
    right: 25px;
    width: 100%;
    max-width: 300px;
    min-height:300px;
    padding: 8px;
    z-index: 4;
  }

  .hidden {
    display: none;
  }
  
  #nav-info > p {
    margin-top:5px;
	margin-bottom:5px;
  }
}

.ffwdme-components-geolocation-debug {
  text-align: left;
  padding:10px;

  div{
    margin-bottom:10px;
  }

  span{
    float:right;
  }


}
